/*
	purple	#A991E8		169, 145, 232		#594198
	blue 	#ACF7FF		172, 247, 255
	green 	#A2E891		162, 232, 145
	yellow 	#FFEDAE		255, 237, 174
	pink 	#FFB4BB		255, 180, 187
*/
/* set btn colors */
/* set normal (purple) btn */
/* set white btn */
html, body {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  color: #331155;
  text-align: center; }

h1 {
  font-size: 8em;
  line-height: 1.5em;
  margin: 30px;
  color: #fff;
  font-family: "Rajdhani", "Raleway", Helvetica, sans-serif; }

h2 {
  font-size: 6em;
  line-height: 1.5em;
  text-align: center;
  margin: 30px;
  font-family: "Rajdhani", "Raleway", Helvetica, sans-serif; }

#home h2 {
  font-size: 3em;
  margin: 0 0 20px 0;
  line-height: 1em;
  color: #fff; }

h3 {
  font-size: 1.3em;
  line-height: 1.5em;
  margin: 10px 0;
  text-align: center;
  font-weight: 600; }

#home h3 {
  font-size: 1.2em;
  margin: 10px 0;
  line-height: 1em; }

h4 {
  font-style: italic;
  margin-bottom: 10px; }

p {
  margin-bottom: 10px;
  line-height: 1.5; }

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid black;
  outline: 0; }

a:hover, a:focus, a:active {
  text-decoration: none;
  cursor: pointer;
  color: #777;
  border-color: #777;
  outline: 0; }

ul, li {
  list-style-type: none; }

blockquote {
  font-style: italic;
  font-size: 0.9em;
  line-height: 2em;
  width: 80%;
  margin: 20px auto;
  padding: 0.5em 10px;
  border-left: 10px solid #A991E8;
  border-right: 10px solid #A991E8;
  background: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

@media (max-width: 1024px) {
  html, body {
    font-size: 18px; }

  h1 {
    font-size: 4em;
    margin: 20px 0 0 0; }

  h2 {
    font-size: 3em;
    margin: 0; }

  h3 {
    margin-top: 10px; }

  blockquote {
    width: 90%; } }
.btn {
  padding: 10px 20px;
  margin: 20px auto;
  display: inline-block;
  cursor: pointer;
  background: linear-gradient(#A991E8 5%, #8971C8 100%) #A991E8;
  border: 0;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: #7961B8 0px 1px 0px; }

.btnBig {
  width: 150px;
  padding: 20px 30px;
  border-radius: 7px; }

.btnWhite {
  background: linear-gradient(white 5%, #FFF1FF 100%) white;
  color: #493188; }

.btn:hover, .btn:active, .btn:focus {
  background: linear-gradient(#9981D8 5%, #7961B8 100%) #9981D8;
  color: white;
  text-shadow: #6951A8 0px 1px 0px; }

.btnWhite:hover, .btnWhite:active, .btnWhite:focus {
  background: linear-gradient(#FFF1FF 5%, #F9E1FF 100%) #FFF1FF;
  color: #493188;
  text-shadow: #6951A8 0px 1px 0px; }

.list li {
  margin-bottom: 10px;
  margin-left: 30px; }
  .list li::before {
    content: "\25C7";
    margin-left: -30px;
    width: 30px;
    display: inline-block; }

.smallOnly {
  display: none !important; }

.mediumSmallOnly {
  display: none !important; }

.mediumOnly {
  display: none !important; }

.mediumLargeOnly {
  display: block !important; }

.largeOnly {
  display: block !important; }

@media (max-width: 1024px) {
  .smallOnly {
    display: none !important; }

  .mediumSmallOnly {
    display: block !important; }

  .mediumOnly {
    display: block !important; }

  .mediumLargeOnly {
    display: block !important; }

  .largeOnly {
    display: none !important; } }
@media (max-width: 767px) {
  .smallOnly {
    display: block !important; }

  .mediumSmallOnly {
    display: block !important; }

  .mediumOnly {
    display: none !important; }

  .mediumLargeOnly {
    display: none !important; }

  .largeOnly {
    display: none !important; } }
.containerWide {
  width: 90%;
  max-width: 2000px;
  margin: 0 5%;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.shadowBox {
  background: rgba(255, 255, 255, 0.7); }

.infoBlockClear {
  text-align: left;
  overflow: hidden;
  padding: 10px;
  text-align: justify;
  margin-bottom: 10px; }
  .infoBlockClear h3 {
    border: 1px solid #331155;
    padding: 4px; }

.infoBlock {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px; }
  .infoBlock .infoBlockHeader {
    background: #A991E8;
    padding: 20px;
    overflow: hidden;
    color: white; }
    .infoBlock .infoBlockHeader .fa {
      font-size: 1em;
      display: inline-block;
      margin: 0 20px 0 0; }
    .infoBlock .infoBlockHeader h3 {
      float: left;
      text-align: left;
      color: white;
      margin: 0; }
    .infoBlock .infoBlockHeader .btnBlock {
      float: right; }
    .infoBlock .infoBlockHeader .btn {
      margin: 0; }
  .infoBlock .infoBlockBody {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: left;
    margin-bottom: 0; }
  .infoBlock li {
    margin-bottom: 10px;
    overflow: hidden; }
    .infoBlock li span {
      display: inline-block; }
    .infoBlock li span:first-child {
      width: 70px; }

@media (max-width: 1024px) {
  .containerWide {
    width: 98%;
    margin: 0 1%; }

  .infoBlock {
    padding: 0; } }
@media (max-width: 767px) {
  .containerWide {
    width: 100%;
    margin: 0; }

  .infoBlock .infoBlockHeader {
    padding: 10px; }
    .infoBlock .infoBlockHeader h3 {
      float: none;
      text-align: center;
      line-height: 1.5em;
      margin-bottom: 10px; }
    .infoBlock .infoBlockHeader .btnBlock {
      float: none; }
  .infoBlock .infoBlockBody {
    padding: 10px; }
    .infoBlock .infoBlockBody li {
      padding-bottom: 10px;
      border-bottom: 1px solid #331155; }
    .infoBlock .infoBlockBody li > div {
      margin-bottom: 0;
      float: right; }

  .infoBlockClear {
    padding: 0; } }
.scheduleContainer {
  width: 100%; }
  .scheduleContainer span:nth-child(2n) {
    width: 100px; }

@media (max-width: 1024px) {
  .shadowBox {
    /*padding: 10px;*/ }

  .sectionShadowBox {
    padding: 20px;
    margin: 20px 0; }

  .containerShadowBox {
    width: 45%; } }
@media (max-width: 767px) {
  .containerShadowBox {
    width: 100%; } }
#home, #sponsors {
  /* purple */
  background: #A991E8;
  background-image: url("../images/purple.png");
  background-repeat: repeat;
  background-position: center; }

#home {
  padding: 50px; }

#about, #mission {
  /* blue */
  background: #ACF7FF;
  background-image: url("../images/blue.png");
  background-repeat: repeat;
  background-position: center; }

#registration, #infoPage {
  /* green */
  background: #A2E891;
  background-image: url("../images/green.png");
  background-repeat: repeat;
  background-position: center; }

#faq {
  /* yellow */
  background: #FFEDAE;
  background-image: url("../images/yellow.png");
  background-repeat: repeat;
  background-position: top; }

#schedule {
  /* pink */
  background: #FFB4BB;
  background-image: url("../images/pink.png");
  background-repeat: repeat;
  background-position: center; }

footer {
  background: #594198; }

@media (max-width: 1024px) {
  #home {
    padding: 50px 0; } }
.hide {
  display: none; }

/* ********************************************** */
/*	  				Navigation					  */
/* ********************************************** */
section {
  padding-top: 50px;
  /* added on to leave room for nav at all times */ }

nav {
  z-index: 2;
  background: #594198;
  position: fixed;
  width: 100%; }
  nav ul {
    padding: 0;
    display: block;
    overflow: hidden; }
  nav li {
    list-style-type: none;
    display: inline-block;
    float: left; }
    nav li.left {
      float: left; }
    nav li.right {
      float: right; }
    nav li.brand a {
      padding: 10px 20px;
      margin: 0;
      height: 30px; }
    nav li.brand img {
      height: 30px;
      width: 37px; }
    nav li a {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      padding: 15px 20px;
      line-height: 20px;
      font-size: .7em;
      border-bottom: 0; }
    nav li a:hover, nav li a:active, nav li a:focus {
      color: #5AB8E2; }

#navigationLarge {
  height: 50px;
  margin-right: 90px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.navigationMobile {
  display: none;
  margin: 0 10px; }
  .navigationMobile .brandMobile {
    display: inline-block;
    text-align: left;
    float: left;
    height: 50px; }
    .navigationMobile .brandMobile a {
      height: 30px;
      padding: 10px 20px 10px 0;
      display: inline-block;
      float: left;
      line-height: 30px;
      font-size: 1em; }

#navButton {
  background: transparent;
  height: 40px;
  width: 35px;
  border: 0;
  padding: 0;
  margin: 5px 0;
  float: right; }
  #navButton #navIcon {
    line-height: 40px;
    font-size: 35px;
    color: white; }

/* MLH Trust Badge */
#mlh-trust-badge {
  /* our styles */
  position: fixed;
  top: 0;
  right: 15px;
  max-width: 100px;
  min-width: 60px;
  width: 10%;
  display: block;
  z-index: 10000;
  border: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s; }
  #mlh-trust-badge img {
    width: 100%; }

@media (max-width: 1024px) {
  #navigationLarge {
    margin-right: 70px; }

  nav li a {
    padding: 15px; }

  #mlh-trust-badge {
    max-width: 70px;
    min-width: 40px;
    width: 10%; } }
@media (max-width: 767px) {
  .navigationMobile {
    display: block; }

  nav li a {
    padding: 15px 20px;
    font-size: 0.8em; }

  #navigationLarge {
    display: none;
    position: absolute;
    top: 50px;
    background: #7961B8;
    height: auto;
    left: 0;
    width: 100%; }
    #navigationLarge ul {
      display: block; }
    #navigationLarge li {
      display: block;
      float: none;
      border-bottom: 1px solid #594198; } }
/* ******************************************** */
/*					Sponsors					*/
/* ******************************************** */
.sponsorRow {
  text-align: center;
  margin-bottom: 0; }

.sponsorRowWrapper {
  display: inline-block; }

.sponsor {
  text-align: center;
  margin: 20px;
  display: inline-block;
  float: left; }
  .sponsor a {
    border: 0;
    display: block;
    height: 100%;
    width: 100%;
    position: relative; }
  .sponsor a:hover, .sponsor a:focus {
    background: rgba(169, 145, 232, 0.4); }
  .sponsor img {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.platinum .sponsor {
  width: 250px;
  height: 250px; }

.gold .sponsor {
  width: 212px;
  height: 212px; }

.silver .sponsor {
  width: 175px;
  height: 175px; }

@media (max-width: 1024px) {
  .sponsor {
    float: none; } }
@media (max-width: 767px) {
  .sponsor {
    margin: 5px; }

  .platinum .sponsor {
    width: 115px;
    height: 115px; }

  .gold .sponsor {
    width: 100px;
    height: 100px; }

  .silver .sponsor {
    width: 85px;
    height: 85px; } }
/* **************************************** */
/*					Info					*/
/* **************************************** */
#infoPage {
  font-size: 18px; }
  #infoPage h2 {
    font-size: 3em;
    margin: 0; }
  #infoPage .sectionShadowBox .sectionShadowBox {
    text-align: left; }

/* **************************************** */
/*					Footer					*/
/* **************************************** */
footer {
  padding: 30px 0;
  color: white; }

footer a {
  border-bottom: white; }

.footer2 {
  background: #331155;
  color: white;
  border-top: 1px dotted #594198; }

@media (min-width: 767px) {
  /* big screens */
  footer .location {
    text-align: left; }

  footer .copyright {
    text-align: right; } }
/* ************************************************ */
/*					Social Buttons					*/
/* ************************************************ */
.socialButtons, .socialLinks {
  list-style-type: none;
  margin-left: 0;
  text-align: center; }

.socialButtons li, .socialLinks li {
  display: inline-block;
  margin-bottom: 0; }

.socialButtons a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  background-color: white;
  color: black;
  margin: 0 5px;
  border-radius: 100%;
  border: 0;
  outline: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s; }

.socialButtons a:hover, .socialButtons a:focus, .socialButtons a:active {
  background-color: #5ab8e2; }

.socialLinks {
  margin-top: 20px; }

.socialLinks li {
  margin: 0 5px; }

.fb_iframe_widget span {
  vertical-align: top !important; }

#nncontainer {
  color: black;
  background-color: yellow;
  padding: 10px;
  font-size: 18px;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0; }

#nnsubcontainer {
  padding: 10px;
  border: 4px solid #555;
  overflow: hidden; }

#nnsubcontainer p {
  width: 49%;
  display: inline-block;
  float: left;
  text-align: left;
  margin-right: 1%; }

.nnbtn {
  text-decoration: none;
  color: #fff;
  background-color: #FB4F58;
  padding: 5px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0; }

.nnbtn:hover, .nnbtn:focus, .nnbtn:active {
  color: white;
  background-color: #DB2F38; }

#nnbtnclose {
  position: absolute;
  bottom: 10px;
  right: 20px;
  text-align: right;
  display: inline; }

@media (max-width: 767px) {
  #nncontainer {
    font-size: 16px; }

  #nnsubcontainer p {
    width: 100%;
    margin: 0 0 10px; } }

/*# sourceMappingURL=hackathon.css.map */
