html, body {
	
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 22px;
	line-height: 1.5em;
	color: #331155;
	text-align: center;
}

.shadowBox {
	background: rgba(255, 255, 255, 0.7);
	padding: 40px;
}
@media (max-width: 1024px) {
	.shadowBox {
		padding: 10px;
	}
}

h1 {
	font-size: 8em;
	line-height: 1.5em;
	margin: 30px;
	color: #fff;
	font-family: "Rajdhani", "Raleway", Helvetica, sans-serif;
}
@media (max-width: 1024px) {
	h1 {
		color: #331155;
		font-size: 3em;
		margin: 20px 0 0 0;
	}
}


p {
	margin-bottom: 10px;
    line-height: 1.5;
}


#hero {
	height: 100%;
    position: relative;
}
#p5Container {
	display: inline-block;
    vertical-align: baseline;
	
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -99;
}