html, body {
	
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 22px;
	line-height: 1.5em;
	color: #331155;
	text-align: center;
}

.shadowBox {
	background: rgba(255, 255, 255, 0.7);
	padding: 40px;
}
	.sectionShadowBox {
		background: rgba(255, 255, 255, 0.7);
		padding: 40px;
		margin: 40px 0;
		text-align: left;
	}
@media (max-width: 1024px) {
	.shadowBox {
		padding: 10px;
	}
}

h1 {
	font-size: 8em;
	line-height: 1.5em;
	margin: 30px;
	color: #fff;
	font-family: "Rajdhani", "Raleway", Helvetica, sans-serif;
}
h2 {
	font-size: 6em;
	line-height: 1.5em;
	text-align: center;
	margin: 30px;
	font-family: "Rajdhani", "Raleway", Helvetica, sans-serif;
}
h3 {
	line-height: 1.5em;
	margin: 20px 0 10px;
}
@media (max-width: 1024px) {
	h1 {
		color: #331155;
		font-size: 3em;
		margin: 20px 0 0 0;
	}
}


p {
	margin-bottom: 10px;
    line-height: 1.5;
}


#home { /* purple */
	background: #A991E8;
	background-image: url("../images/purple.png");
	background-repeat: repeat;
	background-position: center;
}
#about { /* blue */
	background: #ACF7FF;
	background-image: url("../images/blue.png");
	background-repeat: repeat;
	background-position: center;
}
#section1 { /* green */
	background: #A2E891;
}
#section2 { /* yellow */
	background: #FFEDAE;
}
#section3 { /* pink */
	background: #FFB4BB;
}