Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# ---- Render pages without urls
Options +MultiViews

# Redirect index.html to home
#Redirect 301 index.html home.html
