/* ************************************ */
/*		Section Styles -- Header		*/
/* ************************************ */
header {
	position: relative;
	text-align: center;
	color: #fff;
}
#header {
	min-height: 801px;
}
#headerCanvas {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
#headerContainer {
	position: relative;
	z-index: 2;
}
.headerContent {
	padding: 120px 0 60px;
}
.tagline {
	font-size: 1.3em;
	font-style: italic;
}
.logo {
	width: 300px;
}
#header .location a {
	color: white;
	border: none;
}
#header .location a:hover, #header .location a:focus, #header .location a:active {
	color: #1A78A2;
}
.downBtn {
	font-size: 2.5em;
	margin: 8px 6px 3px;
}
@media only screen and (max-width: 767px) {
	#headerCanvas { display: none; }
}
	
	



/* ************************************ */
/*		Section Styles -- Questions		*/
/* ************************************ */
#questions {}
.questions p {
	text-align: justify;
}
.faqs:first-child { padding-right: 10px; }
.faqs:last-child { padding-left: 10px; }
.faq { position: relative; }
.faq-icon {
	font-size: 2em;
	width: 40px;
	margin-top: 11px;
	position: absolute;
	top: 0;
	left: 0;
}
.faq-question {
	margin-left: 58px;
}
@media only screen and (max-width: 767px) {
	.faqs:first-child, .faqs:last-child { padding: 0; }
	.faq-icon { display: none; }
	.faq-question { margin-left: 0; }
}




/* ************************************ */
/*		Section Styles -- Register		*/
/* ************************************ */
#join {
	color: white;
	padding: 0;
}
.joinn {
	/* background-color: rgba(218, 200, 218, .3);*/
}
.joinWrapper {
	background-color: rgba(21, 7, 25, .75);
	padding: 100px 20px;
}
#join h1 {
	color: white;
	text-shadow: 2px 2px 1px #000;
}
#join p {
	text-align: justify;
}

.signupBtns {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.signupBtn {
	text-align: center;
	display: inline-block;
}
.signupBtn .btn {
	display: inline-block;
}




/* ************************************ */
/*		Section Styles -- Schedule		*/
/* ************************************ */
#schedule {
	color: white;
}
.scheduleOuter {
	text-align: center;
}
.scheduleInner {
	display: inline-block;
}
.scheduleSection {
	overflow: hidden;
	display: inline-block;
	float: left;
	padding: 0 100px;
	width: 50%;
}
.scheduleSection h2 {
	margin-bottom: 20px;
	text-align: left;
	font-weight: bold;
}

.item {
	overflow: hidden;
	clear: both;
	margin: 0 0 10px;
}
.time, .event {
	display: inline-block;
	float: left;
	text-align: left;
}
.time { 
	width: 33%;
}
.event {
	width: 67%;
}
.time p, .event p {
	margin: 0;
	font-size: 1.3em;
}

@media (max-width: 991px) {
	.scheduleSection:first-child { 
		padding: 0 50px 0 0;
	}
	.scheduleSection:last-child {
		padding: 0 0 0 50px;
	}
}
@media only screen and (max-width: 767px) {
	.schedule .times {
		width: 31.33333%;
		margin-bottom: 0;
	}
	.schedule .events {
		width: 64.66667%;
		margin-bottom: 0;
	}
	.scheduleSection:first-child, .scheduleSection:last-child {
		display: block;
		float: none;
		padding: 0;
		width: 100%;
	}
	.scheduleSection:last-child { margin-top: 50px; }
}




/* ************************************ */
/*		Section Styles -- Sponsor		*/
/* ************************************ */
#sponsors {}
#sponsors h1 {
	margin-bottom: 30px;
}
.extra {
	margin-top: 50px;
}

.sponsor a { 
	border: 0;
	display: block;
}

.sponsor1, .sponsor2, .sponsor3 {
	transition: all .2s ease-in-out;
}
.sponsor1:hover, .sponsor2:hover, .sponsor3:hover {
	transform: scale(1.1);
}

.sponsorRow { 
	text-align: center;
	margin-bottom: 0;
}

.sponsorRowWrapper {
	display: inline-block;
}
.sponsorRowWrapper.platinum .sponsor { height: 250px; width: 250px; }
.sponsorRowWrapper.gold .sponsor { height: 212px; width: 212px; }
.sponsorRowWrapper.silver .sponsor { height: 175px; width: 175px; }

.sponsor {
	text-align: center;
	margin: 20px;
	display: inline-block;
	float: left;
}
.sponsorLeft div { float: right; }
.sponsorRight div { float: left; }

.sponsor1, .sponsor2, .sponsor3 {
	display: block;
	margin: 0 auto;
	background-color: white;
	position: relative;
	}
	.atlas 			{ background-color: #161616; }
	.twitter 		{ background-color: #55ACEE; }
	.victorops		{ background-color: #353535; }
	.thinktopic		{ background-color: #FFFFFF; border: 1px solid #81C685; }
	.workday		{ background-color: #FFFFFF; border: 1px solid #EF9F00; }
	
	.cardinalpeak	{ background-color: #FFFFFF; border: 1px solid #B00421; }
	.google			{ background-color: #FBFBFB; border: 1px solid #D6D6D6; }
	.codecraft		{ background-color: #FFFFFF; border: 1px solid #009BDF; }
	.sendgrid		{ background-color: #2F3645; }
	.lockheed		{ background-color: #112940; }
	
	.fitterfaster	{ background-color: #222222; }
	.quickleft		{ background-color: #42DCA3; }
	.refactoru		{ background-color: #050708; }
	.stickergiant	{ background-color: #FCDE54; }
	.zayo 			{ background-color: #F47521; }
	
	
	.mlh 			{ background-color: #F7F9F9; border: 1px solid #A9AFB0; }
	
	.jasonsdeli		{ background-color: #bf311a; }
	.noodles		{ background-color: #B02A27; }
	.sphero 		{ background-color: #0083c0; }
	
	.susansbakery	{ background-color: #92CCE5; }
	.moesbagels		{ background-color: #222222; }
	.tods			{ background-color: #FFFFFF; border: 1px solid #BC6B19; }
	.vics			{ background-color: #F29B26; }
	
	.dash			{ background-color: #B175D0; }
	.invision 		{ background-color: #FF005E; }
	.trello 		{ background-color: #0079BF; }
	
	.cuwic			{ background-color: #FFFFFF; border: 1px solid #3774CE; }
	.hackcu			{ background-color: #000000; }
	
	
	
	
.sponsorRowWrapper.platinum .sponsor1 { width: 100%; height: 100%; }

.sponsorRowWrapper.platinum .sponsor2 { width: 85%; height: 85%; }
.sponsorRowWrapper.gold .sponsor2 { width: 100%; height: 100%; }

.sponsorRowWrapper.platinum .sponsor3 { width: 70%; height: 70%; }
.sponsorRowWrapper.gold .sponsor3 { width: 83%; height: 83%; }
.sponsorRowWrapper.silver .sponsor3 { width: 100%; height: 100%; }

.sponsor1 img, .sponsor2 img, .sponsor3 img {
	max-width: 80%;
	max-height: 80%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.sponsorInterested { text-align: center; margin-top: 50px; }
.sponsorBtnContainer { display: block; }
#sponsorEmailBtn { 
	display: inline-block;
	margin-bottom: 20px;
}

#sponsorEmailDiv { display: none;  }
#sponsorEmailResult { display: none; }
#sponsorEmailOuterForm {
	position: relative;
}
#sponsorEmailArrow {
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -15px;
	height: 30px;
	width: 30px;
	border-width: 30px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #AA88AA;
}
#sponsorEmailForm, #sponsorEmailSuccess {
	background: #DAC8DA;
	padding: 20px;
	margin-top: 20px;
	border: 3px solid #AA88AA;
	position: relative;
	top: 20px;
}
#sponsorEmailSuccess { display: none; }
#sponsorEmailResult.error {
	margin-bottom: 20px;
	display: block;
}


@media (max-width: 1200px) {
	.sponsor { height: 200px; }
	.sponsorRowWrapper.platinum .sponsor { height: 200px; width: 200px; }
	.sponsorRowWrapper.gold .sponsor { height: 162px; width: 162px; }
	.sponsorRowWrapper.silver .sponsor { height: 115px; width: 115px; }
}
@media (max-width: 991px) {
	.extra { margin-top: 30px; }
	.sponsor { display: block; float: none; }
	.sponsorRowWrapper.platinum .sponsor { height: 180px; width: 180px; }
	.sponsorRowWrapper.gold .sponsor { height: 142px; width: 142px; }
	.sponsorRowWrapper.silver .sponsor { height: 95px; width: 95px; }
	.sponsor1 img, .sponsor2 img, .sponsor3 img {
		max-width: 90%;
		max-height: 90%;
	}
}




/* ******************************** */
/*		Section Styles -- Info		*/
/* ******************************** */
#info {
	text-align: center;
}
#info p {
	text-align: justify;
	color: white;
}
#info a { 
	color: white;
	border-color: white;
}
#info a:hover, #info a:focus, #info a:active {
	color: #3a98c2;
	border-color: #3a98c2;
}
#info .fa { 
	font-size: 100px;
	color: white;
}
.hack-def {
	line-height: 1.1em;
}
.hack-def i, .hack-def span {
	font-size: .8em;
}
.hack-def span {
	display: block;
	margin-left: 20px;
}
.infoSection {
	padding: 0 10px;
	color: #000;
}
.infoSection h2 {
	margin: 20px 0;
}








/* ******************************** */
/*		Section Styles -- Press		*/
/* ******************************** */
.article {
	overflow: hidden;
	border-bottom: 1px dotted #AA88AA;
	margin-bottom: 30px;
	padding-bottom: 10px;
}
.link a { 
	font-size: 1.5em;
	color: #331155;
	border-color: #331155;
	padding-bottom: 3px;
}
.author {
	color: #555;
}
.author a { 
	color: #555;
	border: 0 !important;
}



