#errors {
	margin-bottom: 20px;
}

.types .fieldRadio, .types .fieldCheckbox {
	width: 48%;
	margin-right: 4%;
}
.types .fieldRadio:last-child, .types .fieldCheckbox:ast-child {
	margin-right: 0;
}
.types .tgl + .tgl-btn {
	width: 100%;
	height: 2.5em;
}
.types .tgl-flip + .tgl-btn:after, .types .tgl-flip + .tgl-btn:before {
	line-height: 2.5em;
}
